<app-header></app-header>
        <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <div>
            
            <h1 class="btn btn-lg btn-block" type="button" >
                Home
            </h1>
            <h1 class="btn btn-lg btn-block" type="button" >
                About
            </h1>
            <h1 class="btn btn-lg" type="button" >
                Create
            </h1>
            <h1 class="btn btn-lg btn-block" type="button" >
                Contact us
            </h1>
            <h1 
            
            class="btn" type="button" >
                Logout
            </h1>
        </div>
    </div> -->
    <!-- </div>
</nav> -->

<!-- <nav class="navbar navbar-expand-lg navbar-light" >
    <div class="container-fluid" style="display: flexbox; ">
        <h2 class="kanbantitle">Kanban Board</h2>
        <a 
        
        routerLink="/signup"><button class="btn btn-outline-secondary sbtn">Signup</button></a>
        <a
         
        routerLink="/signin"><button class="btn btn-outline-secondary sbtn">Signin</button></a>
        
    </div>
</nav> -->